body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}